* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

.header {
    display: flex;
    justify-content: space-between;
    margin: 10px;
    
}
.header a{
    cursor: pointer;
}
.left-side-header {
    display: flex;
    justify-content: space-between;
    margin-right: 20px;
}

.left-side-header a {

    margin-right: 10px;
    padding-top: 10px;
    text-decoration: none;
    font-size: 1.2rem;
    color: black;
}

#favorite-nav {
    padding-top: 0;
    font-size: 32px;
}

.category-brief {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
}

.category-brief-title {
    margin-bottom: 20px;
    font-size: 2.5rem;
    font-weight: bold;
    cursor: pointer;
}

.category-brief-items {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 10px;
    width: 100%;
}

.brief-item-card {
    width: 200px;
    height: 200px;
    margin: 20px;
}

.brief-item-card>img {
    object-fit: cover;
    width: 200px;
    height: 200px;
    border: 2px solid black;
    border-radius: 10px;
}

.brief-item-name {
    font-size: 1.2rem;
    margin-top: 5px;
    padding-left: 8px;
}

.category-page-content{
    display: flex;
}

.categories-bar{
    flex-basis: 600px;
    display: flex;
    flex-direction: column;
    margin: 30px;
    border-right: 2px solid black;
    
}

.category-in-bar{
    text-decoration: none;
    font-size:1.5rem;
    margin-bottom: 50px;
    color: black;
}

.category-page-content>hr{
    height: 100vh;
    background-color: black;
    padding: 0.5px;
}
hr{
    background-color: black;
}

.category-name, .favorites-name{
    margin: 40px;
    font-size: 2.5rem;
}

.category-items,.favorites-items{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-left: 30px;
}

.item-card{
    width: 400px;
    height: 250px;
    margin-bottom: 70px;
    
}

.item-card img{
    object-fit: cover;
    width: 350px;
    height: 250px;
    border: 2px solid black;
    border-radius: 5px;
}

.item-card-below{
    display: flex;
    padding:5px;
}

.favorite-btn{
    margin-left: 60%;
    font-size: 32px;
}

.sigin-page{
    display: flex;
}

#sigin, #sigup{
    flex-basis: 50%;
    display: flex;
    flex-direction: column;
    margin-top: 50px;
}
#sigin{
    border-right: 2px solid black;
}
.sigin-word,.signup-word{
    margin-left: 150px;
    font-size: 1.5rem;
    font-weight: bold;
}
.form{
    display: flex;
    flex-direction: column;
    margin: 50px;
    margin-left: 150px;
}

input, label{
    margin-top: 20px;
    max-width: 500px;
    padding: 12px;
    line-height: 0;
}   
button{
    max-width: 500px;
    padding: 12px;
    margin-top: 20px;
}